In [14]:
import pandas as pd
import numpy as np
from scipy import stats

In [15]:
df = pd.read_csv("test2_oc.csv")

In [16]:
df.head()

   game_index  winner  claude_start  openai_start  claude_net  openai_net
0           0  claude         10000         10000        4140       -4140
1           1  openai         10000         10000       -1140        1140
2           2  openai         10000         10000          -6           6
3           3  openai         10000         10000        -144         144
4           4  claude         10000         10000          10         -10

In [11]:
df["claude_net"].sum()

7156

In [12]:
df["openai_net"].sum()

-7156

In [17]:
x = df["claude_net"].values.astype(float)

# Compute summary stats
mean_x = np.mean(x)
std_x = np.std(x, ddof=1)
n = len(x)

# Two-sided one-sample t-test against 0
t_stat, p_value = stats.ttest_1samp(x, popmean=0)

print("Number of hands:", n)
print("Mean payoff:", mean_x)
print("Std dev:", std_x)
print("t-statistic:", t_stat)
print("p-value (two-sided):", p_value)

Number of hands: 100
Mean payoff: 71.56
Std dev: 648.3607818447562
t-statistic: 1.103706485706817
p-value (two-sided): 0.2723960129232845

In [18]:
import numpy as np
from scipy.stats import binom_test, norm

# Convert your winner column to 1 for Claude, 0 for GPT
df["claude_win"] = (df["winner"] == "claude").astype(int)

# Number of hands
n = len(df)

# Number Claude wins
k = df["claude_win"].sum()

# Sample win rate
p_hat = k / n

print("Hands:", n)
print("Claude wins:", k)
print("Win rate:", p_hat)

# Two-sided exact binomial test
p_value_exact = binom_test(k, n, p=0.5, alternative="two-sided")
print("Exact binomial p-value:", p_value_exact)

# Normal approximation z-test (also two-sided)
z = (p_hat - 0.5) / np.sqrt(0.25 / n)
p_value_z = 2 * (1 - norm.cdf(abs(z)))

print("z-statistic:", z)
print("Normal approx p-value:", p_value_z)

Hands: 100
Claude wins: 51
Win rate: 0.51
Exact binomial p-value: 0.9204107626128208
z-statistic: 0.20000000000000018
Normal approx p-value: 0.8414805811217938

/var/folders/kw/_b9n4sf12qs7lzdq53j8x5kc0000gn/T/ipykernel_435/1613993525.py:21: DeprecationWarning: 'binom_test' is deprecated in favour of 'binomtest' from version 1.7.0 and will be removed in Scipy 1.12.0.
  p_value_exact = binom_test(k, n, p=0.5, alternative="two-sided")